{%load static%}

<!DOCTYPE html>
<html lang="en">

<head>
    <title>IThink &mdash; </title>
    {%load static%}

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <link href="https://fonts.googleapis.com/css?family=Nunito:300,400,700" rel="stylesheet">
    <link rel="stylesheet" href="{% static '/buttonProject/fonts/icomoon/style.css'%}">

    <link rel="stylesheet" href="{% static '/buttonProject/css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static '/buttonProject/css/jquery-ui.css' %}">
    <link rel="stylesheet" href="{% static '/buttonProject/css/owl.carousel.min.css' %}">
    <link rel="stylesheet" href="{% static '/buttonProject/css/owl.theme.default.min.css' %}">
    <link rel="stylesheet" href="{% static '/buttonProject/css/owl.theme.default.min.css' %}">

    <link rel="stylesheet" href="{% static '/buttonProject/css/jquery.fancybox.min.css' %}">

    <link rel="stylesheet" href="{% static '/buttonProject/css/bootstrap-datepicker.css' %}">

    <link rel="stylesheet" href="{% static '/buttonProject/fonts/flaticon/font/flaticon.css' %}">

    <link rel="stylesheet" href="{% static '/buttonProject/css/aos.css' %}">
    <link rel="stylesheet" href="{% static '/buttonProject/style.css' %}" />
    <link rel="stylesheet" href="{% static '/buttonProject/css/style.css' %}">

</head>

<body data-spy="scroll" data-target=".site-navbar-target" data-offset="300">
    <div id="overlayer"></div>
    <div class="loader">
        <div class="spinner-border text-primary" role="status">
            <span class="sr-only">Loading...</span>
        </div>
    </div>
    <div class="site-wrap" id="home-section">

        <div class="site-mobile-menu site-navbar-target">
            <div class="site-mobile-menu-header">
                <div class="site-mobile-menu-close mt-3">
                    <span class="icon-close2 js-menu-toggle"></span>
                </div>
            </div>
            <div class="site-mobile-menu-body"></div>
        </div>


        <header class="site-navbar py-4 js-sticky-header site-navbar-target" role="banner">

            <div class="container">
                <div class="row align-items-center">

                    <div class="col-6 col-md-3 col-xl-4  d-block">
                        <h1 class="mb-0 site-logo"><a href="index.html" class="text-black h2 mb-0">IThink<span class="text-primary">.</span> </a></h1>
                    </div>

                    <div class="col-12 col-md-9 col-xl-8 main-menu">
                        <nav class="site-navigation position-relative text-right" role="navigation">

                            <ul class="site-menu main-menu js-clone-nav mr-auto d-none d-lg-block ml-0 pl-0">
                                <li><a href="#home-section" class="nav-link">Home</a></li>
                                <li><a href="#features-section" class="nav-link">Features</a></li>
                                <li class="has-children">
                                    <a href="#about-section" class="nav-link">About Us</a>
                                    <ul class="dropdown arrow-top">
                                        <li><a href="#" target="_blank" class="nav-link"><span class="text-primary">More Free Templates</span></a></li>
                                        <li><a href="#our-team-section" class="nav-link">Our Team</a></li>
                                        <li class="has-children">
                                            <a href="#">More Links</a>
                                            <ul class="dropdown">
                                                <li><a href="#">Menu One</a></li>
                                                <li><a href="#">Menu Two</a></li>
                                                <li><a href="#">Menu Three</a></li>
                                            </ul>
                                        </li>
                                    </ul>
                                </li>
                                <li><a href="#testimonials-section" class="nav-link">Acknowledgment</a></li>
                                <li><a href="#contact-section" class="nav-link">Contact</a></li>
                            </ul>
                        </nav>
                    </div>


                    <div class="col-6 col-md-9 d-inline-block d-lg-none ml-md-0"><a href="#" class="site-menu-toggle js-menu-toggle text-black float-right"><span class="icon-menu h3"></span></a></div>

                </div>
            </div>

        </header>


        <div class="site-blocks-cover" style="overflow: hidden;">
            <div class="container">
                <div class="row align-items-center justify-content-center">

                    <div class="col-md-12" style="position: relative;" data-aos="fade-up" data-aos-delay="200">


                        <img src="static/buttonProject/images/undraw_investing_7u74.svg" alt="Image" class="img-fluid img-absolute">

                        <div class="row mb-4" data-aos="fade-up" data-aos-delay="200">
                            <div class="col-lg-6 mr-auto">
                                <h1>Try our algorithms for predicting and understanding the behavior of data </h1>
                                <p class="mb-5">this is a website we launch as a part of your graduation project.</p>
                                <div>
                                    <a href="#features-section" class="btn btn-primary mr-2 mb-2">START</a>
                                </div>
                            </div>


                        </div>

                    </div>
                </div>
            </div>
        </div>


        <div class="site-section" id="features-section">
            <div class="container">
                <form method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <input type="file" name="myfile" /><br>

                    <button type="submit" class="btn btn-primary mr-2 mb-2">Upload</button><br>
                </form>
                <table>
                    <tr>
                        <td>
                            <p3 id="std">std: </p3>
                        </td>
                        <td>
                            <p3 id="median">median:</p3>
                        </td>
                        <td>
                            <p3 id="mean">mean:</p3>
                        </td>
                    </tr>
                    <tr>
                        <td><button id="show" onclick="show()">show result</button></td>
                    </tr>
                    <td>
                        <td>
                            <div>
                                <img id='monte' height=" 300px" onerror="imgError()">
                            </div>
                        </td>
                        <td>
                            <div>
                                <img id='linear' height=" 300px">
                            </div>
                        </td>
                        </tr>
                </table>
            </div>
        </div>

    </div>


    </div>
    </div>
    </div>


    <h2 class="section-title mb-3">About Us</h2>
    </div>
    </div>
    <div class="row mb-5">
        <div class="col-lg-6" data-aos="fade-right">
            <img src="static/buttonProject/images/undraw_bookmarks_r6up.svg" alt="Image" class="img-fluid">
        </div>
        <div class="col-lg-5 ml-auto pl-lg-5">
            <h2 class="text-black mb-4 h3 font-weight-bold">Our Mission</h2>
            <p class="mb-4">This project provide new method for  data analysis, where it proposed a Monte Carlo based method for data analysis, the method proposed in this project in additional of represented new idea in dealing with data analysis, it is also defers
                than the previous work that used Monte Carlo in data analysis.
            </p>
            <ul class="ul-check mb-5 list-unstyled success">
                <li></li>
                <li></li>
                <li></li>
            </ul>
            <p><a href="#" class="btn btn-primary">Learn More</a></p>
        </div>
    </div>


    </div>
    </div>

    <div class="site-section" id="our-team-section">
        <div class="container">
            <div class="row mb-5 justify-content-center text-center" data-aos="fade-up">
                <div class="col-7 text-center  mb-5">
                    <h2 class="section-title">Our Team</h2>
                    <p class="lead"></p>
                </div>
            </div>

            <div class="row">

                <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="100">
                    <div class="person">
                        <div class="bio-img">
                            <figure>
                            </figure>
                            <div class="social">
                                <a href="#"><span class="icon-facebook"></span></a>
                                <a href="#"><span class="icon-twitter"></span></a>
                                <a href="#"><span class="icon-instagram"></span></a>
                            </div>
                        </div>
                        <h2 class="text-black h1">Mohammmed Abdullah Alsmari</h2>
                        <span class="sub-title d-block mb-3">Member</span>
                        <p></p>
                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="200">
                    <div class="person">
                        <div class="bio-img">
                            <figure>
                            </figure>
                            <div class="social">
                                <a href="#"><span class="icon-facebook"></span></a>
                                <a href="#"><span class="icon-twitter"></span></a>
                                <a href="#"><span class="icon-instagram"></span></a>
                            </div>
                        </div>
                        <h2 class="text-black h1">Abdullah Sami Albagshi </h2>
                        <span class="sub-title d-block mb-3">Member</span>
                        <p></p>

                    </div>
                </div>

                <div class="col-lg-4 col-md-6 mb-4" data-aos="fade-up" data-aos-delay="300">
                    <div class="person">
                        <div class="bio-img">
                            <figure>
                            </figure>
                            <div class="social">
                                <a href="#"><span class="icon-facebook"></span></a>
                                <a href="#"><span class="icon-twitter"></span></a>
                                <a href="#"><span class="icon-instagram"></span></a>
                            </div>
                        </div>
                        <h2 class="text-black h1">Mohammed Abdullah Alsubaie</h2>
                        <span class="sub-title d-block mb-3">Member</span>
                        <p></p>
                    </div>
                </div>


            </div>
        </div>


        <div class="site-section testimonial-wrap bg-light" id="testimonials-section">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3">Acknowledgment</h2>
                    </div>
                </div>
            </div>
            <div class="slide-one-item home-slider owl-carousel">
                <div>
                    <div class="testimonial">
                        <figure class="mb-4 d-block align-items-center justify-content-center">

                        </figure>
                        <blockquote class="mb-3">
                            <p>&ldquo; We would like to thank everyone who had contributed to successful completion of this project. We would like to extend our special thanks and gratitude to our supervisor Prof.Mohamed Osman Ali Hegazi who helped us to
                                make this beautiful experience to carry out this project “A Monte-Carlo Based Model for Data Analysis”. Thank you for the amount of information you have given us and for your constant support and your heart. Secondly, we
                                would like to thank our family, which gave us the confidence, encouragement and support at all times and for all of our support, you deserve our thanks. &rdquo;
                            </p>
                        </blockquote>
                        <p class="text-black"><strong>Our Team</strong></p>


                    </div>
                </div>


            </div>
        </div>



        <div class="site-section bg-image2 overlay" id="contact-section" style="background-image: url('static/buttonProject/images/hero_1.jpg');">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12 text-center">
                        <h2 class="section-title mb-3 text-white">Contact Us</h2>
                    </div>
                </div>
                <div class="row justify-content-center">
                    <div class="col-lg-7 mb-5">



                        <form action="#" class="p-5 bg-white">

                            <h2 class="h4 text-black mb-5">Contact Form</h2>

                            <div class="row form-group">
                                <div class="col-md-6 mb-3 mb-md-0">
                                    <label class="text-black" for="fname">First Name</label>
                                    <input type="text" id="fname" class="form-control rounded-0">
                                </div>
                                <div class="col-md-6">
                                    <label class="text-black" for="lname">Last Name</label>
                                    <input type="text" id="lname" class="form-control rounded-0">
                                </div>
                            </div>

                            <div class="row form-group">

                                <div class="col-md-12">
                                    <label class="text-black" for="email">Email</label>
                                    <input type="email" id="email" class="form-control rounded-0">
                                </div>
                            </div>

                            <div class="row form-group">

                                <div class="col-md-12">
                                    <label class="text-black" for="subject">Subject</label>
                                    <input type="subject" id="subject" class="form-control rounded-0">
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <label class="text-black" for="message">Message</label>
                                    <textarea name="message" id="message" cols="30" rows="7" class="form-control rounded-0" placeholder="Leave your message here..."></textarea>
                                </div>
                            </div>

                            <div class="row form-group">
                                <div class="col-md-12">
                                    <input type="submit" value="Send Message" class="btn btn-primary mr-2 mb-2">
                                </div>
                            </div>


                        </form>
                    </div>

                </div>

            </div>
        </div>

        <div class="footer py-5 text-center">
            <div class="container">
                <div class="row mb-5">
                    <div class="col-12">
                        <p class="mb-0">
                            <a href="#" class="p-3"><span class="icon-facebook"></span></a>
                            <a href="#" class="p-3"><span class="icon-twitter"></span></a>
                            <a href="#" class="p-3"><span class="icon-instagram"></span></a>
                            <a href="#" class="p-3"><span class="icon-linkedin"></span></a>
                            <a href="#" class="p-3"><span class="icon-pinterest"></span></a>
                        </p>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <p class="mb-0">
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                            Copyright &copy;
                            <script>
                                document.write(new Date().getFullYear());
                            </script> All rights reserved <i class="icon-heart text-danger" aria-hidden="true"></i>
                            <a href="https://colorlib.com" target="_blank"></a>
                            <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .site-wrap -->

    <script src="static/buttonProject/js/jquery-3.3.1.min.js"></script>
    <script src="static/buttonProject/js/jquery-ui.js"></script>
    <script src="js/popper.min.js"></script>
    <script src="static/buttonProject/js/bootstrap.min.js"></script>
    <script src="static/buttonProject/js/owl.carousel.min.js"></script>
    <script src="static/buttonProject/js/jquery.countdown.min.js"></script>
    <script src="static/buttonProject/js/bootstrap-datepicker.min.js"></script>
    <script src="static/buttonProject/js/jquery.easing.1.3.js"></script>
    <script src="static/buttonProject/js/aos.js"></script>
    <script src="static/buttonProject/js/jquery.fancybox.min.js"></script>
    <script src="static/buttonProject/js/jquery.sticky.js"></script>
    <script>
        function show() {
            var median = "{{median}}"
            var mean = "{{mean}}"
            var std = "{{std}}"
            document.getElementById('monte').src = "{% static '/buttonProject/monte.png'%}"
            document.getElementById('linear').src = "{% static '/buttonProject/linear.png'%}"
            document.getElementById('std').innerHTML = std;
            document.getElementById('median').innerHTML = median;
            document.getElementById('mean').innerHTML = mean;


        }

        function imgError() {
            alert('First select file');
        }
    </script>

    <script src="static/buttonProject/js/main.js"></script>

</body>

</html>